/*FAQ*/
.tarjeta {
  background-color: #A69CAC;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}
.tarjeta__img {
  width: 300px;
  height: 180px;
  margin-right: 30px;
&.tarjeta__img:hover {
  border: 1px solid #121212;
  box-shadow: #13273e;
}
}
.tarjeta__titulo {
  font-size: 1.5rem;
  margin-bottom: 20px;
  background-color: aliceblue;
  text-align: center;
}
.tarjeta__parrafo {
    line-height: 28px;
    font-size: 1.5rem;
    padding: 15px 12px;
    background-color: skyblue;
    text-align: center;
    margin: -174px -12px 3px 262px;
}
.article {
  padding: 20px;
  box-shadow: 0px 4px 30px 15px rgba(104, 104, 104, 0.1);
  font-size: 1.6em;
  margin: 30px;
}
.HAna {
  width: 80%;
  text-align: center;
  padding: 30px;
  display: block;
  margin: 0 auto;
&.HAna:hover{
  border: 2px solid #191d32;

}
}
.city_pic2{
  width: 80%;
  padding: 0 23px 17px 24px;
  padding: 30px;
  display: block;
  margin: 0 auto;
&.city_pic2:hover{
  border: 2px solid #191d32;
 
}
}
.text_2 {
  font-size: .5rem;
  margin-top: 0;
  padding: 0 23px 17px 24px;
}
@media only screen and (min-width: 769px) {
   /*Faq*/
 
  .HAna {
    max-width: 550px;
}
.text_2 {
  font-size: 18px;
  padding-left: 0;
}
.city_pic2 {
  
  padding-left: 0;
  width: 320px;
}
}

@media only screen and (min-width: 1025px) {
  .article {
    width: 900px;
    margin: auto;
  }
  
  .HAna {
    width: 50%;
    margin: 10px 20px;
    padding: 0;
    
  }
  .text_2 {
    font-size: 22px;
  }
  
  }