.formulario {
    align-items: center;
    justify-content: center;
  }
  .storm1 {
    font-size: 25px;
  }
  form fieldset {
    margin: 11px;
    /*border: 8px solid black;*/
    padding: 1rem 1.5%;
    background-color: transparent;
  }
  
  form legend {
    color: #1b1a1a;
    font-size: 20px;
    margin: 0 1rem 1rem;
    padding: 0.5rem 0.5rem 0rem;
  }
  form label.first {
    display: block;
    padding-top: 1rem;
    color: #251e1e;
    font-size: 15px;
  }
  form label.first input {
    display: block;
    width: 90%;
    padding: 5px 5px;
    margin: 10px;
    box-sizing: border-box;
  }
  .buttonForm{
    align-items: center;
    justify-content: center;
    margin:10px 377px auto;
  }
  @media only screen and (max-width: 769px){
    .buttonForm{
      margin: 0 38%;
    }
  }
  @media only screen and (min-width: 1025px){ 
  .formulario {
    align-items: center;
    justify-content: center;
  }
  .storm1 {
    font-size: 25px;
  }
  form fieldset {
    margin: 10px 11px 5px 148px;
    border: 2px solid transparent;
    padding: 1rem 1.5%;
    background-color: transparent;
    filter: drop-shadow(2px 4px 6px black);
  }
  form legend {
    color: #1b1a1a;
    font-size: 20px;
    margin: 0 1rem 1rem;
    padding: 0.5rem 0.5rem 0rem;
  }
  form label.first {
    display: block;
    padding-top: 1rem;
    color: #251e1e;
    font-size: 15px;
  }
  form label.first input {
    display: block;
    width: 90%;
    padding: 5px 5px;
    margin: 10px;
    box-sizing: border-box;
  }
  .textarea {
    display: block;
    margin: 1rem 0.5rem 1rem;
    width: 90%;
  } 
    
  }
 