.containerGal {
  display: block;
  margin-bottom: 60px;
}
.picture {
  width: 90%;
  padding: 10px;
  box-shadow: 0 10px 12px 0 rgb(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin: 20px auto;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
}
.gall-header {
    text-align: center;
    font-size: 2.5rem;
    font-family:'Merriweather', serif;
  }
  .lemons{
    text-align: center;
    color: black;
    margin:5px -10px 67px 0px;
    padding: 3px 10px 13px 13px;
  }