.containerGal {
  display: block;
  margin-bottom: 60px;
}
.picture {
  width: 90%;
  padding: 10px;
  box-shadow: 0 10px 12px 0 rgb(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin: 20px auto;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
}
.gall-header {
    text-align: center;
  }
  