@import "variables";

@mixin logo {
  height: 100px;
  text-align: center;
  margin:10px 0;
}
.logoSite{
 @include logo;
}
@mixin body{
  font-family: $fuente;
  background-color: #161B33;
  background-image: url(../mediapro/fondo3.jpg);
  //background-image: url(../mediapro/aguafon.jpg);
  background-size: cover;
  background-position:center;
  height: 100%;
  color: #121212 ;
  font-size: 1.2rem;

}
body{
  @include body;
}
 nav .botonera{
  color: #161B33;
  font-size: 20px;
  margin: 10px 10px 10px;
  padding: 0;
  word-spacing: 20px;
}

h1 , h2 ,h3 {
  font-size: $sm;
  text-align: center;
 
}
.tittle{
  font-size: $xl;
  margin: 60px;
  text-align: center;
  font-family: $fuente;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image:none;
}
.carousel-indicators li{
  border-radius: 100%;
  width: 12px;
  height: 10px
}
p{
  font-family:$fuentedos ;
  font-size: $sm;
}
.btn-12{
  color:#121212;
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  margin: auto;
}
.btn-12 span {
  color: #121212;
  background: rgb(58,123,180);
  background: linear-gradient(90deg, rgba(58,123,180,1) 20%, rgba(253,29,29,1) 47%, rgba(252,176,69,1) 69%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: auto;
  position: relative;
}
.btn-12 span:nth-child(1) {
  margin:auto;
  box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
  position: relative;
}
.btn-12 span:nth-child(2) {
  margin:auto;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
  position: relative;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.contact_info{
  margin: 0 auto;
}
.contact {
  font-size: $sm;
}
.con {
  font-size: 2em;
  padding: 2px 2px;
  text-align: center;
}

footer{
  background-color: #121212;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 20px 20px;
  margin-top:50px;
}
.mediared{
  margin: 20px auto;
}
.mediared a {
  font-size:8vw;
  background-color: rgba(211, 0, 0, 0.658);
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.gmail a:hover{
  text-decoration:none;
  background-color: rgba(255, 255, 255, 0.514);
  color: #eb1313f6;
}
.wtp a:hover{
  text-decoration:none;
  background-color: rgba(255, 255, 255, 0.514);
  color: #1bd741;
}
.mediared a i{
  margin: 30px;
}
a{
   text-decoration: none;
   color:white;
}
.targetaRecibe{
  padding: 10px 10px;
  margin: 30px 20px;
}
.number{
  margin: 30px;
}
.mirror:hover{
  box-shadow: 0 0 40px #161b33;
}











































