@import "mediaq";
@import "bigq";
@import "variables";

.home-headline-1{
  padding: 20px 20px;
  text-align: center;
  margin-top: 2em;
}
  .home-pragraph-3{
   
    font-size: 1.5rem;
    margin: 30px 50px;
}
.home-paragraph-1 {
  margin:40px;
 &.home-paragraph-2{
    font-size: 1em;
    text-align: center;
    margin: -195px 25px 15px 335px;
    display: flex;
    justify-content: space-evenly;
  }
}
.paragraph-1{
  text-align: center;
  margin: 40px 0px;
}
.contai-grid{
  display:grid;
  grid-template-areas:"home-paragraph-1"
                      "home-right-img"
                      "home-left-img"
                      "home-paragraph-2";
}
.home-left-img,.home-right-img{
 width: 300px;
 -webkit-transform: scale(1);
 transform: scale(1);
 -webkit-transition: .3s ease-in-out;
 transition: .3s ease-in-out;
}
.home-paragraph-2{
  margin:40px;
}
.email-whatsapp{
  margin: 10px ;
}
.mapa{
  display: flex;
}
.home-left-img, .home-right-img{
   width: 400px;
} 
.contact{
  margin: 30px 0;
}
iframe{
  max-width: 100%;

}

