.home-headline-1{
  padding: 20px 20px;
  text-align: center;
  margin-top: 1em;
}
  .home-pragraph-3{
    font-size: 1rem;
    margin: 20px 50px;
    }
.home-paragraph-1 {
  margin:40px;
  &.home-paragraph-2{
    font-size: 1em;
    text-align: center;
  }
}
.paragraph-1{
  text-align: center;
  padding: 20px 20px;
}
.contai-grid{
  display:grid;
  grid-template-areas:"home-paragraph-1"
                      "home-right-img"
                      "home-left-img"
                      "home-paragraph-2";
}
.home-left-img,.home-right-img{
 width: 300px;
 -webkit-transform: scale(1);
 transform: scale(1);
 -webkit-transition: .3s ease-in-out;
 transition: .3s ease-in-out;
}

.home-paragraph-2{
  margin:40px;
}
.ubicacion{
  margin:10px;
  padding: 10px;
}
@media only screen and (max-width: 769px) {
  .home-left-img .home-right-img{
    width: auto;
  }
  .home-left-img:hover{
    filter: drop-shadow(2px 4px 6px black);
  }
.home-right-img:hover{
  filter: drop-shadow(2px 4px 6px black);
}
  .ubicacion{
    margin:3px;
   padding: auto;
  }
}

@media only screen and (min-width: 1025px) {

.ubicacion{
  margin: 14px 149px;
  padding: 10px 10px;
}
.home-left-img:hover{
  filter: drop-shadow(2px 4px 6px black);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
   }

 .home-right-img:hover{
  filter: drop-shadow(2px 4px 6px black);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
}
}
