@import "mediaq";
@import "bigq";
@import "variables";

.rivers-headline-1{
  margin: 17px;
  padding:17px;
}
.video{
  margin:55px 260px;
}
.tabla{
  margin: 10px 35px;
}
.float-rigth-img{
  height: 400px;
} 

.rivers-img-right{
  height: 400px;
  
}
.rivers-left-img{
  height: 400px;
  padding: 10px 10px;
}




