/*.rivers-paragraph{
  text-align: center;
  padding: 10px 10px;
}*/
.rivers-headline-1{
  margin: 17px;
  padding:17px;
}
.video{
  margin:55px 260px;
}
@media only screen and (max-width: 769px) {
 
.float-rigth-img{
  margin: 10px 25px;
}
.rivers-left-img , .rivers-img-right{
  margin: 10px -8px;
}
.rivers-paragraph{
  padding: 10px 48px; 
  font-size: .9rem;
  text-align: center;
}
}
@media only screen and (min-width:1024px) { 
  .rivers-paragraph{
    text-align: center;
    margin:auto;
    padding: 15px;
  }
}



