@charset "UTF-8";
/*tamaño de la fuente*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200;1,700&display=swap");
.logoSite {
  height: 100px;
  text-align: center;
  margin: 10px 0;
}

body {
  font-family: "Merriweather", serif;
  background-color: #161B33;
  background-image: url(../mediapro/fondodelsitiogeneral.jpg);
  height: 100%;
  color: #121212;
  font-size: 1.2rem;
}

nav .botonera {
  color: #161B33;
  font-size: 20px;
  margin: 10px 10px 10px;
  padding: 0;
  word-spacing: 20px;
}

h1, h2, h3 {
  font-size: 1.5rem;
  text-align: center;
}

.tittle {
  font-size: 3rem;
  margin: 60px;
  text-align: center;
  font-family: "Merriweather", serif;
}

.carousel-control-next-icon .carousel-control-next-icon,
.carousel-control-next-icon .carousel-control-prev-icon,
.carousel-control-prev-icon .carousel-control-next-icon,
.carousel-control-prev-icon .carousel-control-prev-icon {
  background-image: none;
}
.carousel-control-next-icon .carousel-indicators li,
.carousel-control-prev-icon .carousel-indicators li {
  border-radius: 100%;
  width: 12px;
  height: 10px;
}

.carousel-indicators li .carousel-control-next-icon,
.carousel-indicators li .carousel-control-prev-icon {
  background-image: none;
}
.carousel-indicators li .carousel-indicators li {
  border-radius: 100%;
  width: 12px;
  height: 10px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.btn-12 {
  color: #121212;
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  perspective: 230px;
  margin: auto;
}

.btn-12 span {
  color: #121212;
  background: #3a7bb4;
  background: linear-gradient(90deg, #3a7bb4 20%, #fd1d1d 47%, #fcb045 69%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s;
  margin: auto;
  position: relative;
}

.btn-12 span:nth-child(1) {
  margin: auto;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transform: rotateX(90deg);
  transform-origin: 50% 50% -20px;
  position: relative;
}

.btn-12 span:nth-child(2) {
  margin: auto;
  transform: rotateX(0deg);
  transform-origin: 50% 50% -20px;
  position: relative;
}

.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  transform: rotateX(-90deg);
}

.banner {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../mediapro/bearlake (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact_info {
  margin: 0 auto;
}

.contact {
  font-size: 1.5rem;
}

.con {
  font-size: 2em;
  padding: 2px 2px;
  text-align: center;
}

footer {
  background-color: #121212;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 20px 20px;
}

.mediared {
  margin: 20px auto;
}

.mediared a {
  font-size: 8vw;
  background-color: rgba(211, 0, 0, 0.658);
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.gmail a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.514);
  color: #eb1313f6;
}

.wtp a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.514);
  color: #1bd741;
}

.mediared a i {
  margin: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.targetaRecibe {
  padding: 10px 10px;
  margin: 30px 20px;
}

.number {
  margin: 30px;
}

.mirror:hover {
  box-shadow: 0 0 40px #161b33;
}

@media only screen and (max-width: 759px) {
  /*home*/
  .bananas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-left-img .home-right-img {
    width: auto;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mirror {
    filter: drop-shadow(2px 4px 6px black);
  }

  .email-whatsapp {
    font-size: 4vw;
  }

  /* rivers*/
  .float-rigth-img {
    margin: 11px 30px;
  }

  .rivers-left-img,
.rivers-img-right {
    margin: 11px -5px;
  }

  .rivers-paragraph {
    padding: 10px 48px;
    font-size: 0.9rem;
    text-align: center;
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 50px;
  }

  .picture {
    border: 1;
    margin: auto;
    max-width: 90%;
  }

  /*formulario*/
  .buttonForm {
    margin: 0 38%;
  }

  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1025px) {
  .btn-12 span,
.btn-12 span:nth-child(1),
.btn-12 span:nth-child(2) {
    margin: 10px 680x;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .mirror:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mapa {
    display: flex;
    margin: 50px;
  }

  .rivers-paragraph {
    text-align: center;
    margin: auto;
    padding: 15px;
  }

  .float-rigth-img,
.rivers-left-img .rivers-img-right {
    width: 300px;
    height: 400px;
  }

  .float-rigth-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-left-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-img-right:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 18px;
    justify-self: center;
  }

  .images {
    padding: auto;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  /*formulario*/
  .formulario {
    align-items: center;
    justify-content: center;
  }

  .storm1 {
    font-size: 25px;
  }

  form fieldset {
    margin: 10px 11px 5px 148px;
    border: 2px solid transparent;
    padding: 1rem 1.5%;
    background-color: transparent;
    filter: drop-shadow(2px 4px 6px black);
  }

  form legend {
    color: #1b1a1a;
    font-size: 20px;
    margin: 0 1rem 1rem;
    padding: 0.5rem 0.5rem 0rem;
  }

  form label.first {
    display: block;
    padding-top: 1rem;
    color: #251e1e;
    font-size: 15px;
  }

  form label.first input {
    display: block;
    width: 90%;
    padding: 5px 5px;
    margin: 10px;
    box-sizing: border-box;
  }

  .textarea {
    display: block;
    margin: 1rem 0.5rem 1rem;
    width: 90%;
  }
}
/*tamaño de la fuente*/
.home-headline-1 {
  padding: 20px 20px;
  text-align: center;
  margin-top: 2em;
}

.home-pragraph-3 {
  font-size: 1.5rem;
  margin: 30px 50px;
}

.home-paragraph-1 {
  margin: 40px;
}
.home-paragraph-1.home-paragraph-2 {
  font-size: 1em;
  text-align: center;
  margin: -195px 25px 15px 335px;
  display: flex;
  justify-content: space-evenly;
}

.paragraph-1 {
  text-align: center;
  margin: 40px 0px;
}

.contai-grid {
  display: grid;
  grid-template-areas: "home-paragraph-1" "home-right-img" "home-left-img" "home-paragraph-2";
}

.home-left-img, .home-right-img {
  width: 300px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.home-paragraph-2 {
  margin: 40px;
}

.email-whatsapp {
  margin: 10px;
}

.mapa {
  display: flex;
}

.home-left-img, .home-right-img {
  width: 400px;
}

.contact {
  margin: 30px 0;
}

iframe {
  max-width: 100%;
}

@media only screen and (max-width: 759px) {
  /*home*/
  .bananas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-left-img .home-right-img {
    width: auto;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mirror {
    filter: drop-shadow(2px 4px 6px black);
  }

  .email-whatsapp {
    font-size: 4vw;
  }

  /* rivers*/
  .float-rigth-img {
    margin: 11px 30px;
  }

  .rivers-left-img,
.rivers-img-right {
    margin: 11px -5px;
  }

  .rivers-paragraph {
    padding: 10px 48px;
    font-size: 0.9rem;
    text-align: center;
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 50px;
  }

  .picture {
    border: 1;
    margin: auto;
    max-width: 90%;
  }

  /*formulario*/
  .buttonForm {
    margin: 0 38%;
  }

  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1025px) {
  .btn-12 span,
.btn-12 span:nth-child(1),
.btn-12 span:nth-child(2) {
    margin: 10px 680x;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .mirror:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mapa {
    display: flex;
    margin: 50px;
  }

  .rivers-paragraph {
    text-align: center;
    margin: auto;
    padding: 15px;
  }

  .float-rigth-img,
.rivers-left-img .rivers-img-right {
    width: 300px;
    height: 400px;
  }

  .float-rigth-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-left-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-img-right:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 18px;
    justify-self: center;
  }

  .images {
    padding: auto;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  /*formulario*/
  .formulario {
    align-items: center;
    justify-content: center;
  }

  .storm1 {
    font-size: 25px;
  }

  form fieldset {
    margin: 10px 11px 5px 148px;
    border: 2px solid transparent;
    padding: 1rem 1.5%;
    background-color: transparent;
    filter: drop-shadow(2px 4px 6px black);
  }

  form legend {
    color: #1b1a1a;
    font-size: 20px;
    margin: 0 1rem 1rem;
    padding: 0.5rem 0.5rem 0rem;
  }

  form label.first {
    display: block;
    padding-top: 1rem;
    color: #251e1e;
    font-size: 15px;
  }

  form label.first input {
    display: block;
    width: 90%;
    padding: 5px 5px;
    margin: 10px;
    box-sizing: border-box;
  }

  .textarea {
    display: block;
    margin: 1rem 0.5rem 1rem;
    width: 90%;
  }
}
/*tamaño de la fuente*/
.formulario {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.storm1 {
  font-size: 25px;
}

form fieldset {
  margin: 11px;
  /*border: 8px solid black;*/
  padding: 1rem 1.5%;
  background-color: transparent;
}

form legend {
  color: #1b1a1a;
  font-size: 20px;
  margin: 0 1rem 1rem;
  padding: 0.5rem 0.5rem 0rem;
}

form label.first {
  display: block;
  padding-top: 1rem;
  color: #251e1e;
  font-size: 15px;
}

form label.first input {
  display: block;
  width: 90%;
  padding: 5px 5px;
  margin: 10px;
  box-sizing: border-box;
}

.buttonForm {
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.textarea {
  margin: 10px;
  width: 90%;
}

@media only screen and (max-width: 759px) {
  /*home*/
  .bananas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-left-img .home-right-img {
    width: auto;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mirror {
    filter: drop-shadow(2px 4px 6px black);
  }

  .email-whatsapp {
    font-size: 4vw;
  }

  /* rivers*/
  .float-rigth-img {
    margin: 11px 30px;
  }

  .rivers-left-img,
.rivers-img-right {
    margin: 11px -5px;
  }

  .rivers-paragraph {
    padding: 10px 48px;
    font-size: 0.9rem;
    text-align: center;
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 50px;
  }

  .picture {
    border: 1;
    margin: auto;
    max-width: 90%;
  }

  /*formulario*/
  .buttonForm {
    margin: 0 38%;
  }

  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1025px) {
  .btn-12 span,
.btn-12 span:nth-child(1),
.btn-12 span:nth-child(2) {
    margin: 10px 680x;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .mirror:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mapa {
    display: flex;
    margin: 50px;
  }

  .rivers-paragraph {
    text-align: center;
    margin: auto;
    padding: 15px;
  }

  .float-rigth-img,
.rivers-left-img .rivers-img-right {
    width: 300px;
    height: 400px;
  }

  .float-rigth-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-left-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-img-right:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 18px;
    justify-self: center;
  }

  .images {
    padding: auto;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  /*formulario*/
  .formulario {
    align-items: center;
    justify-content: center;
  }

  .storm1 {
    font-size: 25px;
  }

  form fieldset {
    margin: 10px 11px 5px 148px;
    border: 2px solid transparent;
    padding: 1rem 1.5%;
    background-color: transparent;
    filter: drop-shadow(2px 4px 6px black);
  }

  form legend {
    color: #1b1a1a;
    font-size: 20px;
    margin: 0 1rem 1rem;
    padding: 0.5rem 0.5rem 0rem;
  }

  form label.first {
    display: block;
    padding-top: 1rem;
    color: #251e1e;
    font-size: 15px;
  }

  form label.first input {
    display: block;
    width: 90%;
    padding: 5px 5px;
    margin: 10px;
    box-sizing: border-box;
  }

  .textarea {
    display: block;
    margin: 1rem 0.5rem 1rem;
    width: 90%;
  }
}
/*tamaño de la fuente*/
.rivers-headline-1 {
  margin: 17px;
  padding: 17px;
}

.video {
  margin: 55px 260px;
}

.tabla {
  margin: 10px 35px;
}

.float-rigth-img {
  height: 400px;
}

.rivers-img-right {
  height: 400px;
}

.rivers-left-img {
  height: 400px;
  padding: 10px 10px;
}

@media only screen and (max-width: 759px) {
  /*home*/
  .bananas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-left-img .home-right-img {
    width: auto;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mirror {
    filter: drop-shadow(2px 4px 6px black);
  }

  .email-whatsapp {
    font-size: 4vw;
  }

  /* rivers*/
  .float-rigth-img {
    margin: 11px 30px;
  }

  .rivers-left-img,
.rivers-img-right {
    margin: 11px -5px;
  }

  .rivers-paragraph {
    padding: 10px 48px;
    font-size: 0.9rem;
    text-align: center;
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 50px;
  }

  .picture {
    border: 1;
    margin: auto;
    max-width: 90%;
  }

  /*formulario*/
  .buttonForm {
    margin: 0 38%;
  }

  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1025px) {
  .btn-12 span,
.btn-12 span:nth-child(1),
.btn-12 span:nth-child(2) {
    margin: 10px 680x;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .mirror:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mapa {
    display: flex;
    margin: 50px;
  }

  .rivers-paragraph {
    text-align: center;
    margin: auto;
    padding: 15px;
  }

  .float-rigth-img,
.rivers-left-img .rivers-img-right {
    width: 300px;
    height: 400px;
  }

  .float-rigth-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-left-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-img-right:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 18px;
    justify-self: center;
  }

  .images {
    padding: auto;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  /*formulario*/
  .formulario {
    align-items: center;
    justify-content: center;
  }

  .storm1 {
    font-size: 25px;
  }

  form fieldset {
    margin: 10px 11px 5px 148px;
    border: 2px solid transparent;
    padding: 1rem 1.5%;
    background-color: transparent;
    filter: drop-shadow(2px 4px 6px black);
  }

  form legend {
    color: #1b1a1a;
    font-size: 20px;
    margin: 0 1rem 1rem;
    padding: 0.5rem 0.5rem 0rem;
  }

  form label.first {
    display: block;
    padding-top: 1rem;
    color: #251e1e;
    font-size: 15px;
  }

  form label.first input {
    display: block;
    width: 90%;
    padding: 5px 5px;
    margin: 10px;
    box-sizing: border-box;
  }

  .textarea {
    display: block;
    margin: 1rem 0.5rem 1rem;
    width: 90%;
  }
}
/*tamaño de la fuente*/
.containerGal {
  display: block;
  margin-bottom: 60px;
}

.picture {
  width: 90%;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.picture:hover {
  box-shadow: 0 0 40px #161b33;
  transform: scale(1.3);
}

.lemons {
  text-align: center;
  color: black;
  margin: 5px -10px 67px 0px;
  padding: 3px 10px 13px 13px;
}

.gallery-title {
  font-size: 40px;
  font-family: "Merriweather", serif;
}

.gallery-pictures {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-row-gap: 40px;
  padding-top: 2rem;
}

.gallery-main {
  padding-bottom: 4rem;
  height: auto;
}

img[data-src] {
  filter: blur(0.2em);
}

img {
  filter: blur(0em);
  transition: filter 1.5s;
  max-width: 100%;
}

/*FAQ*/
@media only screen and (max-width: 759px) {
  /*home*/
  .bananas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-left-img .home-right-img {
    width: auto;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mirror {
    filter: drop-shadow(2px 4px 6px black);
  }

  .email-whatsapp {
    font-size: 4vw;
  }

  /* rivers*/
  .float-rigth-img {
    margin: 11px 30px;
  }

  .rivers-left-img,
.rivers-img-right {
    margin: 11px -5px;
  }

  .rivers-paragraph {
    padding: 10px 48px;
    font-size: 0.9rem;
    text-align: center;
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 50px;
  }

  .picture {
    border: 1;
    margin: auto;
    max-width: 90%;
  }

  /*formulario*/
  .buttonForm {
    margin: 0 38%;
  }

  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1025px) {
  .btn-12 span,
.btn-12 span:nth-child(1),
.btn-12 span:nth-child(2) {
    margin: 10px 680x;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .mirror:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mapa {
    display: flex;
    margin: 50px;
  }

  .rivers-paragraph {
    text-align: center;
    margin: auto;
    padding: 15px;
  }

  .float-rigth-img,
.rivers-left-img .rivers-img-right {
    width: 300px;
    height: 400px;
  }

  .float-rigth-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-left-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-img-right:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 18px;
    justify-self: center;
  }

  .images {
    padding: auto;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  /*formulario*/
  .formulario {
    align-items: center;
    justify-content: center;
  }

  .storm1 {
    font-size: 25px;
  }

  form fieldset {
    margin: 10px 11px 5px 148px;
    border: 2px solid transparent;
    padding: 1rem 1.5%;
    background-color: transparent;
    filter: drop-shadow(2px 4px 6px black);
  }

  form legend {
    color: #1b1a1a;
    font-size: 20px;
    margin: 0 1rem 1rem;
    padding: 0.5rem 0.5rem 0rem;
  }

  form label.first {
    display: block;
    padding-top: 1rem;
    color: #251e1e;
    font-size: 15px;
  }

  form label.first input {
    display: block;
    width: 90%;
    padding: 5px 5px;
    margin: 10px;
    box-sizing: border-box;
  }

  .textarea {
    display: block;
    margin: 1rem 0.5rem 1rem;
    width: 90%;
  }
}
/*tamaño de la fuente*/
.preguntas1 {
  margin: 12px 84px 100px;
}

/*tamaño de la fuente*/
@media only screen and (max-width: 1025px) {
  .btn-12 span,
.btn-12 span:nth-child(1),
.btn-12 span:nth-child(2) {
    margin: 10px 680x;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.3);
  }

  .mirror:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mapa {
    display: flex;
    margin: 50px;
  }

  .rivers-paragraph {
    text-align: center;
    margin: auto;
    padding: 15px;
  }

  .float-rigth-img,
.rivers-left-img .rivers-img-right {
    width: 300px;
    height: 400px;
  }

  .float-rigth-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-left-img:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  .rivers-img-right:hover {
    box-shadow: 0 0 40px #161b33;
    filter: opacity(0.5);
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 18px;
    justify-self: center;
  }

  .images {
    padding: auto;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  /*formulario*/
  .formulario {
    align-items: center;
    justify-content: center;
  }

  .storm1 {
    font-size: 25px;
  }

  form fieldset {
    margin: 10px 11px 5px 148px;
    border: 2px solid transparent;
    padding: 1rem 1.5%;
    background-color: transparent;
    filter: drop-shadow(2px 4px 6px black);
  }

  form legend {
    color: #1b1a1a;
    font-size: 20px;
    margin: 0 1rem 1rem;
    padding: 0.5rem 0.5rem 0rem;
  }

  form label.first {
    display: block;
    padding-top: 1rem;
    color: #251e1e;
    font-size: 15px;
  }

  form label.first input {
    display: block;
    width: 90%;
    padding: 5px 5px;
    margin: 10px;
    box-sizing: border-box;
  }

  .textarea {
    display: block;
    margin: 1rem 0.5rem 1rem;
    width: 90%;
  }
}
@media only screen and (max-width: 759px) {
  /*home*/
  .bananas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-left-img .home-right-img {
    width: auto;
  }

  .home-left-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .home-right-img:hover {
    filter: drop-shadow(2px 4px 6px black);
  }

  .mirror {
    filter: drop-shadow(2px 4px 6px black);
  }

  .email-whatsapp {
    font-size: 4vw;
  }

  /* rivers*/
  .float-rigth-img {
    margin: 11px 30px;
  }

  .rivers-left-img,
.rivers-img-right {
    margin: 11px -5px;
  }

  .rivers-paragraph {
    padding: 10px 48px;
    font-size: 0.9rem;
    text-align: center;
  }

  /*gallery*/
  .gallery-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 50px;
  }

  .picture {
    border: 1;
    margin: auto;
    max-width: 90%;
  }

  /*formulario*/
  .buttonForm {
    margin: 0 38%;
  }

  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 564px) {
  /*faq*/
  .preguntas1 {
    margin: 10px 40px;
  }

  /*home*/
  .btn-12 span,
.btn-12 span:nth-child(1),
.btn-12 span:nth-child(2) {
    margin: 10px 140px;
  }
}/*# sourceMappingURL=styles.css.map */